<!-- edytujProdukt.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edycja produktu</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <h1>Edit the consignment data</h1>
      <form method="post" action="/update/<%= consignment._id %>">
        <div class="form-group">
          <label for="consignment">Description</label>
          <input type="text" class="form-control" id="description" name="description" value="<%= consignment.description %>">
        </div>
        <div class="form-group">
          <label for="consignment">Weight [kg]</label>
          <input type="text" class="form-control" id="weight" name="weight" value="<%= consignment.weight %>">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </div>
  </body>
</html>
