<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User page</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Font Awesome -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/css/agency.css" rel="stylesheet">
        <link href="/css/agency.min.css" rel="stylesheet">
    </head>
    <body>
        <br>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 lead">
                                        <h2>Edit your profile</h2>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div id="img-preview-block" class="img-circle avatar avatar-original center-block" style="background-size:cover; 
                        background-image:url(http://robohash.org/sitsequiquia.png?size=120x120)">
                                        </div>
                                        <br> 
                                        <span class="btn btn-link btn-file">Edit avatar <input type="file" id="upload-img"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="username">User name</label>
                                            <input type="text" class="form-control" id="user_last_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="user_first_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" class="form-control" id="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Confirm password</label>
                                            <input type="text" class="form-control" id="password">
                                        </div>
                                        <div class="radio">
                                            <label class="radio-inline">
                                            <input type="radio" value="cargoowner" checked="checked" name="cargoowner" id="user_typr">Cargo owner
                                            </label>
                                            <label class="radio-inline">
                                            <input type="radio" value="carrier" name="carrier" id="user_type">Carrier
                                            </label>
                                        </div>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-user-modal">
                                          Delete user
                                        </button>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="btn-toolbar col-md-12">
                                      <hr>
                                      <a href="#" class="btn btn-primary pull-right">
<!--                                          <i class="glyphicon glyphicon-floppy-disk aria-hidden=true"></i>-->
                                          Save Changes</a>
                                      <a href="#" class="btn btn-default pull-right">Cancel</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="delete-user-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to delete account?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </form>
        <script>
            $(function() {
                $("#upload-img").on("change", function()
                {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                    if (/^image/.test( files[0].type)){ // only image file
                        var reader = new FileReader(); // instance of the FileReader
                        reader.readAsDataURL(files[0]); // read the local file

                        reader.onload = function(e){ // set image data as background of div

                          $("#img-preview-block").css({'background-image': 'url('+e.target.result +')', "background-size": "cover"});
                        }
                    }
                });
            });
        </script>
        
    </body>
</html>