<!-- index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DEMO</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        Wersja demo aplikacji bazodanowej - Projektowanie Aplikacji Internetowych, 2018
      </div>
    </div>
  </body>
</html>
