<!-- login.ejs -->

<!DOCTYPE html>
<html>
  <% include ./partials/head %>

  <body class="body-singin">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Cargo Bikes</a>
      </div>
    </nav>

    <div class="container">
      <form class="form-signin" method="post" action="/user/login/post">
        <h1 class="h3 form-signin-heading">Please login</h1>
        <div class="form-group">
          <label for="user">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="user">Password</label>
          <input type="password" id="inputPassword" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" type="submit">
          Login
        </button>
<!--
          <div class="btn-group btn-block">
		      <a class='btn btn-lg btn-danger disabled '><i class="fa fa-google-plus" ></i></a>
		      <a class='btn btn-lg btn-danger ' href='/user/google' style="width:12em;"> Sign in with Google+</a>
	       </div>
-->
      </form>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>

  </body>
</html>
