<!-- newConsignment.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New Request</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="/css/agency.css" rel="stylesheet">
    <link href="/css/agency.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="col-sm-12">
      <form class="form-signin" method="post" action="add/post">
        <h2 class="form-signin-heading">Add a consignment to be delivered</h2>

        <!-- Map -->
        <div class="col-sm-6">
          <section id="citymap">
            <div id="map" width="100%" height="100%">
            </div>
          </section>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="consignment">Cargo description</label>
            <input type="text" class="form-control" id="description" name="description">
          </div>
          <div class="form-group">
            <label for="consignment">Cargo weight</label>
            <input type="text" class="form-control" id="weight" name="weight">
          </div>
          <div class="form-group">
            <label for="consignment">Delivery place: Latitude</label>
            <input type="text" class="form-control" id="lat" name="lat">
          </div>
          <div class="form-group">
            <label for="consignment">Delivery place: Longitude</label>
            <input type="text" class="form-control" id="lng" name="lng">
          </div>
        </div>
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">OK</button>
        <div class="col-sm-12">
      </form>
    </div>
  </div> <!-- container -->
  </body>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <!-- Google Map -->
  <script>
    var map;
    var markers = [];

    function initMap() {
      var myLatLng = {lat: 50.057517, lng: 19.938382};

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 50.061769, lng: 19.939370},
        zoom: 15
      });

      google.maps.event.addListener(map, "click", function (event) {
        var latitude = event.latLng.lat();
        var longitude = event.latLng.lng();
        deleteMarkers(); // delete previous marker(s)
        placeMarker(event.latLng);
        // Center the map
        map.panTo(new google.maps.LatLng(latitude, longitude));

      });

      function deleteMarkers() {
        for (var i = 0; i < markers.length; i++ ) {
          markers[i].setMap(null);
        }
        markers = [];
      }

      function placeMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        $("#lat").val(location.lat());
        $("#lng").val(location.lng());
        markers.push(marker);
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjA3XDzwn8tSOxPpEWruNQfP9AFrSBXZc&callback=initMap">
  </script>

</html>
