<!-- register.ejs -->

<!DOCTYPE html>
<html>
    <% include ./partials/head %>

    <body class="body-singin" id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Cargo Bikes</a>
          </div>
        </nav>

        <div class="container">
            <form class="form-signin" method="post" action="/user/register/post">
                <h1 class="h3 form-signin-heading">Please register</h1>
                <div class="form-group">
                    <label for="user" class="sr-only">Name</label>
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="user" class="sr-only">Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="user" class="sr-only">Email</label>
                    <input type="text" class="form-control" placeholder="Email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="user">Type of user</label>
                      <select class="form-control" id="type" name="type">
                            <option value="CargoOwner">CargoOwner</option>
                            <option value="Carrier">Carrier</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="user" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="user" class="sr-only">Confirm password</label>
                    <input type="password" class="form-control"  placeholder="Confirm password"id="passConfirm" name="passConfirm">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <!--          <br>-->
                <div class="btn-group btn-block">
                    <a class='btn btn-lg btn-danger disabled '><i class="fa fa-google-plus" ></i></a>
                    <a class='btn btn-lg btn-danger ' href='/user/google' style="width:12em;"> Sign in with Google+</a>
                </div>
                <input type="reset" class="btn btn-lg btn-primary btn-block">
            </form>
        </div>
    </body>
</html>
